{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} tag of the default.hbs template --}}

    <main id="site-main" class="site-main outer">
        <article class="article {{post_class}}">
                <header class="article-header">
                    <h1 class="article-title">Course Tools</h1>
                </header>
                <div class="inner posts">

                <div class="post-feed">
                        {{#foreach posts }}
                        {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                            {{> "tools-card"}}
                        {{/foreach}}
                </div>
                </div>
        </article>
    </main>